---
---
$font-body: "Source Sans Pro";
$font-heading: "Lato";
$font-roboto: "Roboto";
$font-opensans: "Open Sans", "Helvetica";

$white: #fff;
$dark-black: #111;
$light-black: #333;
$black: #000;
$primary: #BE0D0D;
$primary-hover: #a60b0b;
$href: #008cde;

$box-shadow: 0 1px 1px rgba(27, 31, 35, 0.10);
$box-shadow-hover: 0 3px 6px 0px rgba(27, 31, 35, 0.30);

*,
*:before,
*:after { box-sizing: inherit; }
html { box-sizing: border-box; font-size: 10px; }
body { margin: 0; padding: 0; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }

html, body {
    min-height: 100% !important;
    height: 100%;

    background-color: $white;
    -webkit-overflow-scrolling : touch !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    h1,h2,h3,h4,h5,h6 {
        font-family: $font-body;
    }
    
    h1 {
        color: $light-black;
        margin: 46px auto 8px auto;
        padding: 0;
        font-size: 30px;
        font-family: $font-heading;
        border: none;
        line-height: 40pt;
        font-weight: 700;
    }
    
    h1:first-child {
        margin: 0 auto 8px auto;
    }
    
    h2 {
        font-size: 16px;
        font-family: $font-roboto;
        font-weight: 400;
        border: none;
        padding: 0;
        line-height: 32pt;
        color: #555;
    }
    
    h3 {
        font-size: 18pt;
        line-height: 28pt;
        font-weight: 400;
        border-bottom: 1px solid #e5e5e5;
    }
    
    h4 {
        font-size: 15pt;
        line-height: 28pt;
        font-weight: 400;
        border-bottom: 1px solid #e5e5e5;
    }
    
    mark {
        background-color: transparent;
        padding: 0;
        color: inherit;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }

    p, 
    li,
    td,
    blockquote {
        font-family: $font-roboto;
        font-weight: 300;
        word-wrap: break-word;
        color: #777;
    }
    
    p, 
    li,
    td,
    blockquote {
        font-size: 15px;
        line-height: 1.8;
    }
    
    blockquote {
        padding: 18px 20px;
        margin: 0 0 20px;
    
        p {
            padding: 0;
        }
    }
    
    blockquote {
        clear: both;
        font-size: inherit;
        line-height: 22px;
        background-color: #fcf8f2;
        border-left: 5px solid #f0ad4e;
        margin: 32px 0 32px 0;
    
        p {
            font-family: $font-roboto;
            color: $black;
            font-size: 14px;
        }
    }
    
    td {
        font-size: 14px;
        line-height: 1.8;
    }
    
    p {    
        margin: 0 auto 20px auto;
        padding: 0;
        color: #666;
        font-size: 16px;
        font-family: $font-roboto;
        font-weight: 300;
        line-height: 33px;
    }
    
    strong {
        color: #555;
        font-weight: 500;
    }

    body table {
        display: block;
        width: 100%;
        overflow: auto;
    }
    
    body thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }
    
    body table th {
        font-weight: 600;
        background: #F0F0F0; 
    }
    
    body table th, 
    body table td 
    {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
    }
    
    body table td {
        padding: 4px 13px;
        border: 1px solid #dfe2e5;
        vertical-align: top;

        ul {
            padding: 0 0 0 13px;
            list-style: none;

            li {
                margin-bottom: 10px;
            }

            li:last-child {
                margin: 0;
            }
        }
        
        ul li::before {
            content: "\2022";
            color: #aaa;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -15px;
        }
    }
    
    body table tr:nth-child(even) { 
        background: #FAFAFA; 
    }
    
    body table tr:nth-child(odd) { 
        background: $white; 
    }
    
    a {
        transition: all .2s ease-in-out;
        color: $href;
    }
    
    a:hover {
        color: $href;
    }
    
    button {
        font-family: $font-opensans;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 11px;
        transition: all .1s ease-in-out;
        border: none;
        text-transform: uppercase;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
        box-shadow: none;
        user-select: none;
    }
        
    button.white {
        color: $white;
    }
    
    button.blue:hover {
        background-color: #8DC5FF;
    }
    
    button.blue:focus {
        outline: 0;
        box-shadow: 0 0 0 3px rgba(127, 183, 255, 0.4);
    }
    
    button.blue {
        background-color: #71A9F7;
        color: $white;
    }
    
    button.blue:hover {
        background-color: #8DC5FF;
    }
    
    button.blue:focus {
        outline: 0;
        box-shadow: 0 0 0 3px rgba(127, 183, 255, 0.4);
    }
    
    button.lightpurple {
        background-color: #C6D8FF;
        color: #2B323D;
    }
    
    button.lightpurple:hover {
        background-color: #D4E6FF;
        opacity: 1;
    }
    
    button.lightpurple:focus {
        outline: 0;
        box-shadow: 0 0 0 3px rgba(127, 183, 255, 0.4);	
    }
    
    button:disabled,
    button:disabled:hover {
        color: #bbb;
        background: #f1f1f1;
        cursor: not-allowed;
    }
    
    .plyr {
      max-width: 840px;
      margin: 0 auto 60px auto;
    }
    
    ::-moz-selection {
        color: $white;
        background: rgba(0, 23, 47, 0.7);
        
    }
    
    ::selection {
        color: $white;
        background: rgba(0, 23, 47, 0.7);
    }
    
    #page-content
    {
        min-height: 100%;
    }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

nav.navbar {
	min-height: 70px;
    margin: 0;
    z-index: 999;

    .navbar-nav {
        span {
            user-select: none;
            display: block;
        }

        li {
            a,
            span {
                color: #6A7182;
                text-shadow: none;
                text-transform: uppercase;
                border-bottom: solid 4px transparent;
                font-size: 11px;
                font-weight: bold;
                font-family: $font-opensans;
                transition: none;
                padding: 0 6px;
                margin: 27px 9px 0 9px;
                height: 43px;
                user-select: none;
                
                i {
                    border: solid #6A7182;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 2px;
                    margin: 0 0 3px 3px;
                    transition: all 0.2s ease;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
            
            a.btn-download {
                color: $white;
                background: $primary;
                border-radius: 2px;
                font-weight: bold;
                font-size: 10px;
                padding: 3px 9px 1px 9px;
                margin: 23px 9px 0 9px;
                height: auto;
            }
        
            a.btn-download:hover {
                color: $white;
                background: $primary-hover;
            }

            a.btn-login:hover {
                color: inherit;
            }

            .hover {
                color: $white;
                border-bottom: solid 5px $white;
                
                i {
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin: 0 0 1px 3px;
                    
                    /*
                    // arrow points up
                    margin: 0 0 0px 3px;
                    transform: rotate(225deg);
                    */
                }
            }

            .active {
                color: #ccc;
                border-bottom: solid 5px #ccc;
            }

            .active:hover {
                border-bottom: solid 5px $white;
            }
        }

        li.divider {
            display: block;
            height: 25px;
            width: 1px;
            background: #444444;
            top: 24px;
            left: 2px;
            margin: auto 7px;
        }
        
        .submenu {
            display: none;
            position: fixed;
            top: 70px;
            left: 0;
            right: 0;
            background-color: $white;
            box-shadow: 0 16px 24px 0 rgba(0,0,0,.08);
            padding: 50px 0 50px 0;
            overflow: hidden;

            .section-title {
                font-family: $font-heading;
                border: 0;
                color: #444;
                font-weight: bold;
                font-size: 30px;
                margin: 0 0 10px 0;
            }

            .section-summary {
                font-family: $font-roboto;
                border: 0;
                font-weight: normal;
                color: #717171;
                letter-spacing: 0.015em;
                font-size: 12pt;
                line-height: 23pt;
            }

            .section-summary-features {
                max-width: 240px;
            }
            
            .section-summary-use-cases {
                max-width: 240px;
            }

            .section-summary-docs {
                max-width: 300px;
            }

            .section-summary-about {
                max-width: 340px;
            }

            .column-heading {
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 11px;
                font-weight: bold;
                font-family: "Open Sans","Helvetica";
                margin: 0;
                color: #717171;
                margin: 24px 0 26px 0;
            }

            .grey-background::after {
                content: '';
                display: block;
                background-color: #f6f6f6;
                margin: 0 0 0 -28px;
                position: absolute;
                top: -200px;
                width: 55vw;
                height: 200vh;
                z-index: -1;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

                li {
                    position: relative;

                    a {
                        padding: 0;
                        margin: 20px 0 0 0;
                        font-size: 14px;
                        color: #444;
                        letter-spacing: 0em;
                        display: block;
                        height: auto;
                        transition: all 0.2s ease;
                        text-transform: none;
                        
                        i {
                            margin: 0 0 2px 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                        }
                    }

                    a::before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        top: -4px;
                        left: 0;
                        margin: 0 14px 0 0;
                        width: 15px;
                        height: 1px;
                        background-color: #bbb;
                    }

                    a:hover,
                    a:active,
                    a:focus {
                        color: $href;
                        text-decoration: none;

                        i {
                            border-color: $href;
                            margin: 0 0 2px 8px;
                        }
                    }

                    .alert {
                        margin: 0;
                        display: inline-block;
                        color: red;
                        position: absolute;
                        top: 4px;
                        padding: 0;
                        font-size: 9px;
                        font-weight: bold;
                        right: 65px;
                        text-transform: uppercase;
                        font-family: Lato;
                    }
                    
                    .alert:hover {
                        color: red;
                    }

                    span {
                        margin: 6px 0 0 30px;
                        text-transform: none;
                        font-weight: normal;
                        line-height: 20px;
                        letter-spacing: normal;
                        display: block;
                        border: none;
                        position: relative;
                        height: auto;
                        font-family: Roboto;
                        font-size: 13px;
                        color: #666;
                        padding: 0 10px 10px 0;
                        max-width: 220px;
                    }

                    span:hover {
                        color: #666;
                    }
                }
            }
        }
    }
}

.navbar-default { 
	/* also set in enclave.page_load.js */
    /*background-color: #1a2533;*/

    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    background: $white; /* #2a2b30;*/
    border-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: solid 1px #dddfe1;

    .navbar-toggle {
        margin: 14px 10px 0 0;
        border-radius: 0;
        background-color: transparent;
        border: none;
        color: $black;
        font-size: 28px;
    }

    .navbar-toggle:hover {
        color: $primary;
    }

    .navbar-toggle:focus {
        background-color: transparent;
        color: $primary;
    }
}

.navbar-brand {
    height: auto;
    padding: 25px 10px;
    user-select: none;
}

.navbar-right {
	font-family: $font-opensans;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 11px;
}

#section-hero-container {
    text-align: center;
    background: #f3f3f3;
    position: relative;
    padding: 70px 0 0 0;

    #hero {
        padding: 70px 0;

        h1 {
            border: none;
            color: $light-black;
            padding: 0;
            font-size: 26pt;
            line-height: 40pt;
            background-color: rgba(40,35,50,0);
            font-family: $font-heading;
            margin: 0 auto;
        }
        
        p {
            color: #666;
            font-family: $font-body;
            font-size: 16pt;
            max-width: 530px;
            line-height: 1.6;
            margin: 16px auto 0 auto;
            padding: 0 20px;
        }
    }
}

#section-cta {
    padding: 80px 0 110px 0;
    text-align: center;

    button {
        margin: 20px 0 0 0;
        font-size: 11px;
        width: 200px;
        height: 52px;
    }
}

#footer {

    background-color: $black;
    color: #dcdbdb;
    padding: 140px 0;
    font-family: $font-roboto;

	.heading {
		line-height: 28pt;
		margin-top: 10px;
		margin-bottom: 16px;
		font-size: 14px;
		color: rgba(255,255,255,0.5) !important;
        padding: 18px 0 0 0;
        text-transform: uppercase;
	}

	ul {
		list-style-type: none;
        padding-left: 0;
        
        li {
            margin: 0 0 14px 0;
        }
	}

	a {
		font-size: 14px;
        color: $white;
        line-height: 21px;
	}

	#social {
		margin: 22px 0 0 0;
		padding: 10px 10px 0 0;
		text-align: right;

		li {
			display: inline;
            margin-left: 16px;
		}

		li a {
			color: #bbb;
			font-size: 32px;
		}

		li a:hover {
			color: $white;
		}
	}

    #enclaveLogo {
        margin: 26px 0 8px 0;

        img {
            width: 200px;
            height : auto;
            user-select: none;
        }
    }

    #address {
        margin: 0 0 26px 0;

        p {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: inherit;
            color: $white;
            line-height: 24.5px;

            strong {
                color: #d4d4d4;
            }
        }
    }

	.terms {
		padding: 10px;
	}

	#copyright {
        font-size: 14px;
        color: #999;

        strong {
            color: #d4d4d4;
        }
	}
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

#docs,
#docs-index-page,
#docs-api,
#docs-handbook,
#docs-policy,
#docs-protocol,
#docs-knowledge-base,
#docs-tutorials-and-guides-base,
#docs-troubleshooting {
    #hero {
        p {
            margin: 6px auto 0 auto;
        }
    }

    #section-page {
        background-color: $white;
        margin: 70px 0 160px 0;

        .toc-heading {
            font-size: 14px;
        }

        table {
            margin-bottom: 16px;
        }
        
        p, li {
            line-height: 28px;
            font-size: 15px;
            font-family: $font-roboto;
            color: #505356;
            font-weight: 400;

            strong {
                color: #464646;
            }
        }

        .highlight {
            background: #ececec35;

            > pre {
                border: none;
            }
        }

        code {        
            white-space: nowrap;
            font-size: 14px;
        }

        pre code {
            white-space: pre-wrap;
            font-size: 14px;
        }

        ol {
            li {
                margin: 16px 0;
            }
        }

        ul {    
            margin-top: 0;
            margin-bottom: 20px;
        }

        blockquote {
            ul:last-child {
                margin-bottom: 0;
            }
        }

        h2, h3, h4 {
            border-bottom: none;
        }
    
        h2 {
            font-size: 26px;
            color: $light-black;
            margin: 56px 0 16px 0;
        }

        h2:first-child {
            margin: 0 0 26px 0;
        }

        h3 {
            font-size: 19pt;
            margin: 34px 0 16px 0;
        }

        h4 {
            font-weight: bold;
        }
    }

    ul.air-gap {
        padding-top: 20px;
        padding-bottom: 50px;
        max-width: 900px;

        li {
            margin-bottom: 30px;

            a {
                font-weight: 500;
                font-size: 12pt;
                line-height: 26px;
            }
        }
    }
}

#docs-index-page {
    background-color: $white;

    #hero {
        padding-bottom: 70px; 
        p {
            margin: 6px auto 0 auto;
        } 
    }

    #search-container {
        padding: 100px 0 30px 0;
        margin: 0 auto;
        max-width: 700px;

        h1 {
            text-align: center;
            font-size: 21pt;
            color: $light-black;
        }

        input {
            display: block;
            width: 100%;
            max-width: 700px;
            height: 51px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.42857143;
            color: #555;
            padding: 0 20px 0 42px;
            position: relative;
            background-color: $white;
            background-image: none;
            border: 1px solid #efefef;
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        ::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
        :-ms-input-placeholder, /* Internet Explorer 10-11 */
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #aaa;
        }

        svg {
            position: relative;
            top: -34px;
            left: 18px;
            fill: #777;
        }

        #search-results-wrap {
            display: block;
            max-width: 700px;
            position: absolute;
            z-index: 100;
            width: 100%;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
            margin-top: 2px;
            padding: 14px 16px 16px 16px;
            display: none;

            &.active {
                display: block;
            }

            ul.search-results-list {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;

                    .search-result {
                        display: block;
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        padding-right: 1rem;
                        padding-left: 1rem;
                        transition: all 0s;
                    }

                    .search-result:hover,
                    .search-result.active {
                        background-color: #f5f6fa;
                    }

                    .search-result-title {
                        display: inline-block;
                        width: 40%;
                        word-wrap: break-word;
                        vertical-align: top;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 5px 10px 5px 0;
                    }

                    .search-result-rel-url {
                        display: block;
                        overflow: hidden;
                        color: #959396;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 8pt;
                    }

                    .search-result-preview {
                        display: inline-block;
                        width: 60%;
                        vertical-align: top;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 10px;
                        color: #959396;
                        border-left: 1px solid;
                        border-left-color: #eeebee;
                        font-size: 10pt;
                    }

                    .search-result-highlight {
                        font-weight: bold;
                        color: #7253ed;
                    }
                }
            }
        }
    } 

    #section-tiles {
        background-color: #f3f3f3;
        padding: 0 0 70px 0;

        .tile {
            a {
                display: inline-block;
                position: relative;
                background: $white;
                border-radius: 8px;
                text-align: left;
                padding: 36px 36px 16px 36px;
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.015); /* 0px 0px 8px 2px rgba(0, 0, 0, 0.04), */
                min-width: 215px;
                text-decoration: none;
                transition: all .1s ease;
                border: 1px solid #eaeaea;

        
                h2 {
                    position: relative;
                    line-height: normal;
        
                    i {
                        font-size: 15px;
                        margin: 0 8px 0 0;
                    }
        
                }
        
                p {
                    line-height: 26px;
                    font-size: 15px;
                }
            }
        
            a:hover {
                top: -4px;
            }
        
            a.setup-guide { 
                i,
                h2,
                .learn-more { 
                    color: #8700ca; 
                }
            }
            
            a.concepts { 
                i,
                h2,
                .learn-more { 
                    color: #0073b9; 
                }
            }
            
            a.api { 
                i,
                h2,
                .learn-more { 
                    color: #00635a; 
                }
            }
        }
    }

    #section-search {
        margin: 0 0 60px 0;
    }

    #section-links {
        padding: 20px 0 140px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        h1 {
            font-size: 18pt;
            color: $light-black;
        }

        .item {

            margin: 20px 0 26px 0;
            font-size: 15px;

            h2 { 
                line-height: normal;
                margin: 0;
                color: #0073b9;
                margin: 0 0 8px 0;
            }

            p {
                margin: 0;
                padding: 0;
                line-height: 22px;
                font-size: 15px;
            }

            a {
                text-decoration: none;
            }
        }
        
        .item:last-child {
            border-bottom: none;
        }

        .tile {
            display: block;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.01);
            text-decoration: none;
            transition: all .05s ease;
            margin: 0 20px 0 0;
            border: 1px solid #efefef;

            .item {
                padding: 20px 10px;
                margin: 0 14px;
                border-bottom: 1px solid #ebeff3;
            }
            
            .item:last-child {
                border-bottom: none;
            }
        }

        .tutorials {
            margin-left: 14px;
        }

        .faqs {
            padding: 120px 14px 60px 14px;
        }
    }
}

#docs-policy {
    #section-all-policies {
        background-color: #f5f7fa;

        ul {
            list-style: none;
            margin: 0 auto;
            padding: 60px 0 40px 12px;
            text-align: center;
            max-width: 700px;
        }

        li {
            display: inline-block;
            margin: 0 12px 22px 0;
            font-weight: 600;
        }

        li a {
            padding: 7px 12px 8px 12px;
            font-size: 14px;
            font-family: $font-heading;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
            text-decoration: none;
            background-color: #fcfcfc;
            opacity: 0.6;
            transition: all .2s ease-in-out;
            color: #337ab7;
        }
        
        li a:hover {
            background-color: $white;
            opacity: 1;
        }

        li.active a {
            background-color: #374365;
            border: 1px solid #374365;
            color: $white;
            opacity: 1;
        }
    }
  
    #section-policy-library {
        padding: 40px 0 0 0;
        position: relative;
        text-align: center;

        ul {
            margin: 70px 0 0 0;
            padding: 0;
            list-style: none;
            text-align: center;

			li {
				margin: 0 12px 48px 0;
				display: inline-block;

				a {
					text-decoration: none;
					padding: 7px 12px 8px 12px;
					padding: 17px 30px;
					font-size: 14px;
					font-family: "Lato";
					border: 1px solid #e0e0e0;
					border-radius: 3px;
					text-decoration: none;
					background-color: #fcfcfc;
					transition: all .2s ease-in-out;
					color: #337ab7;
				}

				a:hover {
				   background-color: #374365;
				   border: 1px solid #374365;
				   color: $white;
				}
			}
        }
    }

    #section-page {

        #orderedList {

            .outdent {
                padding-inline-start: 0;
                border-top: 1px dashed #eee;
            }
    
            ol {
                counter-reset: item;
                list-style: none;

                h2 {
                    margin: 26px 0 16px 0;
                    font-weight: 500;
                }

                ul {
                    list-style-type: disc;
                }
            }

            ol > li {
                position: relative;
                float: left;
                margin: 0;
            }

            ol > li > h2:before,
            ol > li > p:before { 
                content: counters(item, ".") ".";
                counter-increment: item;
                display: inline-block;
                padding-right: 5px;
                font-weight: 500;
            }
        }

        ol,
        ul {
            li {
                margin: 0 0 8px 0;
            }

            li:last-child {
                margin: 0;
            }
        }

        table {
            th {
                white-space: nowrap;
            }
            th, td, li {
                font-size: 13px;
            }
        }
    }    
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

/* component */

#breadcrumb {
    user-select: none;
    margin: 0 0 60px 0;

    p { 
        margin: 0;
        color: #3c3c3c;
        font-size: 14px;
    }

    a,
    span {
        margin: 0 14px;
        font-size: 14px;
    }

    a:first-child {
        margin: 0 14px 0 0;
    }

    strong {
        margin: 0 14px;
        color: #545454;
        font-weight: normal;
        font-size: 14px;
    }
}

ul.tabs {

	user-select: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;

	li {
		display: inline-block;
		cursor: pointer;
	}
}

.tab-content {
	display: none;
	background: transparent;
}

.tab-content.current {
	display: inherit;
}

/* misc */

.form-control:focus {
    border-color: $white;
    box-shadow: 0 0 0 0.3rem rgba(0,123,255,.3);
}

.fa {
	/* thanks https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.column-icon {
	text-align: center;
	margin: 0 auto;
}

.editThisPage {
    background-color: #fafafa;
    border: 1px solid #efefef;
    margin: 100px 0 100px 0;
    padding: 40px;
    text-align: center;
    border-radius: 3px;
}

.editThisPage i {
    font-size: 48px;
}

.lowercase {
	text-transform: lowercase;
}

.blocker {
    z-index: 2000;
    padding: 20px 0;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/* responsive */

/* col-xl */
@media screen and (max-width : 1199px) {

    nav.navbar .navbar-nav {
        .submenu {
            ul {
                li {
                    .alert {
                        right: 20px;
                    }
                }
            }
        }
    }

    #hero-header {
        h1, h2 {
            text-align: center;
            max-width: none;
        }

        h1 { margin: 80px 0 0 0; }
        h2 { margin: 0 0 0 0; }
    }

    #index {
        #section-get-started {
            #try-it-container {
                text-align: center;
                padding: 20px 20px 30px 20px;

                p {
                    padding: 11px 0 26px 0;
                }
            }
        }

        #section-tax {
            .image-container {
                text-align: center;

                img {
                    margin: 40px 0 0 0;
                }
            }
        }

        #section-connection-overview {
            .image-container {
                text-align: center;

                img {
                    margin: 0 0 40px 0;
                }
            }
        }
    }
    
    #section-company-about {
        
        #contact {
            margin: 60px 0 0 0;
        }

        #registered-office {
            margin: 10px 0 0 0;
        }
    }

    #pricing {
        #section-packages {
            .pricingTable {
                .pricingContent {
                    .sliderContainer {
                        margin: 26px 16px;
                    }
                }
            }
        }
    }

    #solutions
    {
        .left {
            display: none;
        }

        .right {
            margin: 0;
        }
    }
}

/* col-lg */
@media screen and (max-width : 991px) {

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display:block !important;
    }

    nav.navbar .navbar-nav {
        .submenu {
            display: none;
            position: static;
            top: auto;
            left: auto;
            right: auto;
            background-color: transparent;
            box-shadow: none;
            padding: 0 30px;
            margin: 0 0 50px 0;
            
            .grey-background::after {
                display: none;
            }

            ul {
                li {
                    a, 
                    span {
                        color: #6A7182;
                        font-size: 12px;
                        text-transform:  uppercase;
                        
                        i {
                            margin: 0 0 1px 8px;
                        }
                    }

                    a:hover,
                    a:active,
                    a:focus {
                        color: $white;

                        i {
                            border-color: $white;
                            margin: 0 0 1px 8px;
                        }
                    }
                    
                    a::before {
                        display: none;
                        content: '';
                    }
                }
            }
        }

        .hide-on-mobile {
            display: none !important;
        }
    }
    
    nav.navbar {
        .navbar-nav {
            li.divider {
                height: 1px;
                width: 100%;
                background: #444444;
                top: auto;
                left: auto;
                margin: 7px auto;
            }

            li {
                a,
                span,
                a:focus,
                span:focus,
                a.btn-download {
                    margin: 18px 0;
                    height: auto;
                    font-size: 13px;
                }

                .active {
                    border: 0;
                }

                .active:hover {
                    border: 0;
                }

                .hover,
                a.btn-download:hover {
                    border: 0;
                    color: #6A7182;
                    i {
                        border-color: #6A7182;
                    }
                }
                    
                a.btn-download {
                    background-color: transparent;
                    padding-left: 6px;
                    color: #777;
                }
            
                a.btn-download:hover {
                    background-color: transparent;
                }
            }
        }
    }

    #navbar-main {
        margin: 0 0 40px 0;
    }

    .navbar-default {
        .navbar-collapse {
            border: none;
            box-shadow: none;
        }
    }

	#toc {
		display: none;
	}
}

/* col-md */
@media screen and (max-width: 767px){

    #docs-index-page {
			
		#section-tiles {

			.container { 
				margin: 0 20px;
			}
			
			.tile {

				a {
					display: block;
					top: 0;
					margin: 40px auto;
				}
			
				a:hover {
					top: 0;
				}
			}
		}
		
        #search-container {
            margin: 0 35px;
            padding: 40px 0;

            h1 {
                text-align: left;
            }

            input {
                padding: 0 20px;
            }

            svg {
                display: none;
            }
            
            #search-results-wrap {
                position: relative;
                top: 3px;
            }
        }

		#section-links {
		
			.container { 
				margin: 0 20px;
			}
			
			.tutorials {
				margin: 0;
			}
            
            .tile {
                margin: 0;
            }

			h1 {
				margin-top: 40px;
			}
		}
    }	
}

/* col-sm */
@media screen and (max-width: 575px){
}

@media print { 
    .no-print, 
    .no-print * { 
        display: none !important; 
    }
}