<div id="footer" class="no-print">
	<div class="container">
		<div class="row">

			<div class="col-sm-6">
				<div id="enclaveLogo">
					<img src="/img/enclave-header-logo.png" />
				</div>

				<div id="social">
					<!--
					<ul>
						<li><a target="_blank" href="#"><i class="fa fa-github-square github" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="#"><i class="fa fa-twitter-square twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href=""><i class="fa fa-linkedin-square linked" aria-hidden="true"></i></a></li>
					</ul>
					-->
				</div>
				
				<div id="address">
						<p>Excalibur House</p>
						<p>Langstone Business Park</p>
						<p>NP18 2HJ</p>
						<p>United Kingdom</p>
						<p>&nbsp;</p>
						<p>+44 (0)1633 215 545</p>
				</div>

				<div id="copyright">
					<strong>&copy; {{ site.time | date: '%Y' }} Enclave Networks Limited
				</div>
			</div>
			
			<div class="col-sm-2">        
                <div class="heading">Product</div>
                <ul>
                    <li><a href="https://enclave.io/">Overview</a></li>
                    <!-- <li><a href="/pricing">Pricing</a></li> -->
                    <li><a href="https://portal.enclave.io/">Log in</a></li>
                </ul>				
            </div>
            
            
			<div class="col-sm-2">			
				<div class="heading">Documentation</div>
				<ul>
					<li><a href="/quick-start">Quick Start Guide</a></li>
					<li><a href="/">Help Center</a></li>
				</ul>
            </div>

			<div class="col-sm-2">
				<div class="heading">About Us</div>
                <ul>
                    <li><a href="https://enclave.io/about">Company</a></li>
                    <li><a href="https://enclave.io/careers">Careers</a></li>
                    <li><a href="https://enclave.io/policy/privacy">Privacy Policy</a></li>
                    <li><a href="https://enclave.io/policy/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a href="https://enclave.io/policy/customer-agreement">Customer Agreement</a></li>
                    <li><a href="https://enclave.io/policy/acceptable-use">Acceptable Use</a></li>
                </ul>
			</div>
			
		</div>
	</div>
</div>
