<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.title}} — Enclave</title>

    <link rel="icon" href="/img/enclave.ico">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:title" content="{{page.title}} — Enclave" />
    
    {% if page.description %}
        <meta property="og:description" content="{{page.description}}" />
    {% endif %}

    {% if page.image %}
        <meta property="og:image" itemprop="image" content="{{site.url}}{{page.image}}" />
        <meta property="og:image:secure_url" itemprop="image" content="{{site.url}}{{page.image}}" />
    {% else %}
        <meta property="og:image" itemprop="image" content="{{site.url}}/img/library/3566f707-db3e-4014-8b85-8a968fbe312b.png" />
        <meta property="og:image:secure_url" itemprop="image" content="{{site.url}}/img/library/3566f707-db3e-4014-8b85-8a968fbe312b.png" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300,600|Lato:300,700|Roboto+Slab:300,400" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" />

	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome-4.5.0.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-3.3.7.min.css" />

	<link rel="stylesheet" type="text/css" href="/css/enclave.css" />
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    {% for css in layout.css %}
        {{ css }}
    {% endfor %}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>



<body>

    <!-- google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-244950-12"></script>

    <script       type="text/javascript" src="/js/lib/jquery-3.1.1.min.js"></script>
	<script defer type="text/javascript" src="/js/lib/bootstrap-3.3.7.min.js"></script>

    {% for js in layout.js %}
        {{ js }}
    {% endfor %}

	{{ content }}

</body>
</html>